 <!-- Section Footer -->
<footer class="container footer">
  <div class="social-media">
    <p>Contact Tom : 07470 053114</p>
    on email
    <a href="#"><i class="fa fa-envelope"></i></a>
    or social media
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="copyright">
    <p>Website Developed by Thomas Guy
      <a href="http://TWGuy.co.uk">  TWGuy.co.uk</a> &copyTWGuy <%= new Date().getFullYear() %></p>
  </div>
</footer>
